appnope==0.1.0
# Jupyter and dependencies.
MarkupSafe==1.1.1 
Send2Trash==1.5.0 
attrs==19.1.0 
backcall==0.1.0 
bleach==3.3.0 
decorator==4.4.0 
defusedxml==0.5.0 
entrypoints==0.3 
ipykernel==5.1.0 
ipython==7.4.0 
ipython-genutils==0.2.0 
ipywidgets==7.4.2 
jedi==0.13.3 
jinja2==2.10.1 
jsonschema==3.0.1 
jupyter==1.0.0 
jupyter-client==5.2.4 
jupyter-console==6.0.0 
jupyter-core==4.4.0 
mistune==0.8.4 
nbconvert==5.4.1 
nbformat==4.4.0 
notebook==5.7.8 
pandocfilters==1.4.2 
parso==0.4.0 
pickleshare==0.7.5 
prometheus-client==0.6.0 
prompt-toolkit==2.0.9 
pygments==2.3.1 
pyrsistent==0.14.11 
pywinpty==0.5.5 
pyzmq==18.0.1 
qtconsole==4.4.3 
terminado==0.8.2 
testpath==0.4.2 
tornado==6.0.2 
traitlets==4.3.2 
wcwidth==0.1.7 
webencodings==0.5.1 
widgetsnbextension==3.4.2
# Django and dependencies
Django==1.11.28
pytz==2019.1
django-admin-sortable==2.1.14
django-composite-foreignkey==1.1.0
django-jenkins==0.110.0
django-health-check==3.9.0
django-cors-headers==2.5.2
django-currentuser==0.3.4
django-picklefield==1.0.0
django-extra-fields==1.1.0
django-storages==1.7.1
djangorestframework-xml==1.4.0
django-monthfield==0.1.1
# OAuth and dependencies
django-oauth-toolkit==1.1.2
oauthlib==3.0.1
requests==2.21.0
idna==2.8
certifi==2019.3.9
urllib3==1.24.2
chardet==3.0.4
# drf and dependencies
djangorestframework==3.9.1
Markdown==3.1
django-filter==2.1.0
# Pandas and dependencies
pandas==0.24.2
numpy==1.16.2
python-dateutil==2.8.0
six==1.12.0
pandas-drf-tools==0.1.1
pandas-summary==0.0.6
django-pandas==0.6.0
# django-debug-toolbar
django-debug-toolbar==1.11
sqlparse==0.3.0
# Core api
coreapi==2.3.3 
coreschema==0.0.4 
itypes==1.1.0 
uritemplate==3.0.0
coreapi-cli==1.0.9
# django-linter and dependencies
astroid==2.2.5
colorama==0.4.1
typed-ast==1.3.2
wrapt==1.11.1
lazy-object-proxy==1.3.1 
pylint==1.5.1 
django-linter==0.7 
# scipy and scikit
scipy==1.2.1
scikit-learn==0.20.3
sklearn==0.0
# beautifulsoup and dependencies
beautifulsoup4==4.7.1 
soupsieve==1.9
# Swifter and dependencies
click==7.0 
cloudpickle==0.8.1 
dask==1.1.5 
distributed==1.26.1 
heapdict==1.0.0 
llvmlite==0.28.0 
locket==0.2.0 
msgpack==0.6.1 
numba==0.43.1 
partd==0.3.10 
psutil==5.6.1 
pyyaml==5.1 
sortedcontainers==2.1.0 
swifter==0.284 
tblib==1.3.2 
toolz==0.9.0 
tqdm==4.31.1 
zict==0.1.4
# matplotlib
cycler==0.10.0 
kiwisolver==1.0.1 
matplotlib==3.0.3 
pyparsing==2.4.0
# Faker
Faker==1.0.4 
text-unidecode==1.2
factory-boy==2.11.1
# cryptography
asn1crypto==0.24.0 
cffi==1.12.2 
cryptography==2.6.1 
pycparser==2.19
# Quandl
Quandl==3.4.6 
inflection==0.3.1 
more-itertools==7.0.0
# Weasyprint
CarioSVG==2.3.1
Pyphen==0.9.5
Weasyprint==47
cariocffi==1.0.2
cssselect2==0.2.1
tinycss2==1.0.2
# Misc and independent
django-computedfields==0.0.8
psycopg2==2.8.1
Pillow==6.2.0
XlsxWriter==1.1.6
html5lib==1.0b10
whitenoise==4.1.2
update-checker==0.16
email-validator==1.0.3
fpdf==1.7.2